nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref="main({pageName: 'home'})") MeanDemo
    div
      ul.nav.navbar-nav
        li
          a(ui-sref="main({pageName: 'stuff'})") Stuff
        li
          a(ui-sref="main({pageName: 'articles'})") Top Articles
        li
          a(ui-sref="analytics") Dashboard
        