nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref='testState') MeanDemo
    div
      ul.nav.navbar-nav
        li
          a(ui-sref='stuff') Stuff
        li
          a(ui-sref='top') Top Articles