.row
	.col-xs-6
		ul.list-group
			li.list-group-item(ng-repeat="page in pageViewList | orderBy: '-count'")
				| {{page._id}} -- {{page.count}}
	.col-xs-6.well
		div
			h6 Online Now
		div
			h1(ng-bind="currentUsers")